<div class="container">
    <table class="table" border="3"> 
    <h1>User Registration using Template driven form</h1>
      
    <div class="form-group col-7 d-flex">
        <input type = "text" name = "FullName" class="form-control" placeholder = "FullName" [(ngModel)]="model.FullName" #FullName="ngModel" required />
        
    </div>
    <div class="form-group col-5 d-flex">
        <input type="Email" name="Email" class="form-control" placeholder = "Email" [(ngModel)]="model.Email" #Email="ngModel"  required />
        
    </div>
    <div class="form-group col-7 d-flex">
        <input type = "text" name = "PhoneNo" class="form-control" placeholder = "PhoneNo" [(ngModel)]="model.PhoneNo"  #PhoneNo="ngModel" required /> 
    </div>
    
    <div class="form-group col-7 d-flex">
      <input type="password" name="password" class="form-control" placeholder = "Password" [(ngModel)]="model.password"  #Password="ngModel" minlength="6" required /> 
        
    </div>
    
       
    <div class="form-group col-5 d-flex">  
      <input type="Conformpassword" name="Conformpassword" class="form-control" placeholder = "Conformpassword"[(ngModel)]="model.Conformpassword"  #Conformpassword="ngModel" minlength="6" required>
        
    </div> 
    <input type="checkbox" style="margin-left:5px;">
    <label>Agree with terms and conditions</label>
    <div class="text-center"><br>
    <button class="btn btn-primary mr-1" (click)="onclick()">Register</button>
    </div><br><br>
    </table>
    </div>
           
         
    
    
    
