 <div class="container">
  <div class="card" style="margin-left:rem; width:20rem;height:15rem">

<table class="table table-borderless">
<br><br>
<button routerLinkActive="active" routerLink="/home" type="button" class="btn btn-primary">home</button><br><br>
<button routerLinkActive="active" routerLink="/product" type="button" class="btn btn-success" >product</button><br><br>  
<button routerLinkActive="active" routerLink="/contact" type="button" class="btn btn-secondary" >contact</button><br><br> <br>   
</table>
</div>
</div><br><br> 
<app-header></app-header><br>

<router-outlet></router-outlet>   






