<div class="container" >
    <table class="table" border="3"> 
    <div class="container">
        <h1>Employee Registration Form</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" >
        <div class="form-group col-5">
            <input type="text" formControlName="FullName"  placeholder = "FullName"/>                
            <div *ngIf="f.FullName.touched && f.FullName.invalid" class="text-danger">
            <span *ngIf ="f.FullName.errors?.required">FullName is reqiured</span>
            </div>    
        </div>
    <div class="form-group col-5">
        <input type="text" formControlName="Email"  placeholder = "Email"/>
        <div *ngIf="f.Email.touched && f.Email.invalid" class="text-danger">
            <div *ngIf ="f.Email.errors?.required">Email is reqiured</div>
            <div *ngIf="f.Email.errors?.email">Email must be a valid email address</div>
             <div *ngIf="f.Email.errors?.pattern">
                Email Pattern Is Invalid
            </div>
        </div>     
    </div>
    <div class="form-group col-5">
        <input type="text" formControlName="Address" placeholder = "Address"/>                
          <div *ngIf="f.Address.touched && f.Address.invalid" class="text-danger">
          <div *ngIf ="f.Address.errors?.required">Address is reqiured</div>
        </div> 
    </div>
    <div class="form-group col-5">
       <input type="text" formControlName="City"  placeholder = "City"/>
         <div *ngIf="f.City.touched && f.City.invalid" class="text-danger" > 
     <div *ngIf ="f.City.errors?.required" class="text-danger">City is reqiured

      </div> 
        </div> 
    </div>
    <div class="form-group col-5">
        <input type="text" formControlName="Phoneno"  placeholder = "Phoneno"/> 
        <div *ngIf="f.City.touched && f.City.invalid" class="text-danger" >                
          <div *ngIf="f.Phoneno.errors?.required" class="text-danger"> phoneno is required</div>
        <div *ngIf="f.Phoneno.errors?.pattern" >Only Enter Numbers...10 Digit</div>
     </div>
    </div>
    <div class="form-group col-5">
     <input type="text" class="input" placeholder="Password" name="password" formControlName="password">
            <div *ngIf="submitted && f.password.errors">
                <div class="text-danger" *ngIf="f.password.errors.required">Password is Required</div>
            </div>
            </div>
            <div class="form-group col-5">
            <input type="text" class="input" placeholder="ConfirmPassword" name="confirmpassword" formControlName="confirmpassword">
            <div *ngIf="submitted && f.confirmpassword.errors">
     <div class="text-danger" *ngIf="f.confirmpassword.errors.required">ConfirmPassword is Required</div>
     <div class="text-danger" *ngIf="f.confirmpassword.errors.MustMatch">ConfirmPassword Should Match With Password</div>
            
            </div>
            </div>
          <input type="checkbox" style="margin-left:5px;">
         <label>I Agree with terms and conditions</label>
            <div class="text-center"><br>
  
                   <button class="btn btn-primary mr-1" (submit)="onSubmit()">submit</button>
            </div><br><br>
             
    </form>
    </div> 
 </table>  
</div>

            

