 <div class="container">
      <h1>Product Details</h1>
          <table class="table">
            <thead class="table-dark"> 
                  <tr >
                      <td>Product Name</td>
                      <td>Product Price</td>
                  </tr>
              </thead>
             <tbody>
    
    <tr *ngFor="let pro of products">
                  <td>{{pro.name}}</td>
                  <td>{{pro.price}}</td>
                  <td>
                      <a routerLink="/productdetails/{{pro.name}}" class="btn btn-success">View Details</a>
                                                  
                  </td>

              </tr>
             </tbody>
          </table>
          
  </div>
 