
<div class="container">
    <h1>Employees</h1>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <td>Employee ID</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Salary</td>
                    <td>DOB</td>
                    <td>Email</td>
                </tr>
            </thead>
           <tbody>
  
   <tr *ngFor="let emp of empList" appColor>
    
                <td>{{emp.id}}</td>
                <td>{{emp.firstname |uppercase}}</td>
                <td>{{emp.lastname}}</td>
                <td>{{emp.salary |currency}}</td>
                <td>{{emp.dob | date:"medium"|uppercase }}</td>
                <td>{{emp.email}}</td>
            </tr>
           </tbody>
        </table>
</div>

