<div class="container">
    <div class="header">
     <button style="margin:7px;"routerLink="/employee" type="button" class="btn btn-primary">employee</button> 
     <button style="margin:7px;"routerLink="/eedit" type="button" class="btn btn-primary">eedit</button>
     <button style="margin:7px;" routerLink="/dpipe" type="button" class="btn btn-success">dpipe</button>   
      <button style="margin:7px;" routerLink="templateform" type="button" class="btn btn-secondary">templateform</button>
     <button style="margin:7px;" routerLink="/reactiveform" type="button" class="btn btn-success">reactiveform</button>
     <button style="margin:7px;" routerLink="/templatevalidation" type="button" class="btn btn-success">templatevalidation</button>
     <button style="margin:7px;" routerLink="/reactivevalidation" type="button" class="btn btn-success">reactivevalidation</button>
     <button style="margin:7px;" routerLink="/login" type="button" class="btn btn-success">login</button>
        </div>
</div>
<router-outlet></router-outlet>


